# Lecture 1: Python Basics

## Using Python

There are three main ways to use Python
1.    Interactive interpreter
2.    Run a Python file
3.    Notebooks

In [ ]:
# Hello World demonstration

print("goodbye world")

goodbye world

|            | Advantages |
| ---------- | ---------- |
|Interactive |   Quick to start, easier for small computations |
|Python File | Easier for large programs, with lots of interacting parts |
|Notebook    | Stores workings, Easily change earlier code, Displays plots|

Python3 is the latest version of Python. But many people still use Python2.

They are very very similar, but there are certain syntax differences between them. So just be aware of which version of Python you are using.

I recommend to always use Python3.

## Arithmetic

Most simple mathematical operations are done as you would in a calculator. The four main arithmetic operations are:


*   Addition: \+    
*   Subtraction: \-
*   Multiplication: \*
*   Division: /
*   Power: **

In [ ]:
# Basic maths operations
5+5

10

In [ ]:
6-7

-1

In [ ]:
4*3

12

In [ ]:
10/2

5.0

In [ ]:
2**4

16

In a notebook only the last operation will be displayed. To display them all you must use `print` for each statement

In [ ]:
# Multiple operations without print
5+10
5*10

50

In [ ]:
# Multiple operations with print
print(5+10)
print(5*10)

15
50

## Strings

To store text in Python we use Strings. A string is created by putting something between two speech marks or two quote marks.

In [ ]:
# Prints some strings
print("Good morning")
print('Good morning')

Good morning
Good morning

If you try and write text without it being a String you will get an error:

In [ ]:
# Incorrect way to print a String
print("Good morning Vietnam')

SyntaxError: unterminated string literal (detected at line 2) (ipython-input-3785102082.py, line 2)

## Comments

Comments in code are bits of text that are not executed, and are used to explain what the code is doing. Python comments are created by #. Anything on a line after # will be ignored by Python.

In [ ]:
# Examples of comments

# This is a comment

5*4 # I am mulitpling 5 by 4

20

Code should almost always include comments, explaining what the code is doing. The above comments are bad examples, you do not need comments to explain each individual part of the code. Your comments should explain the purpose of the code, and explain what parts are doing when it is not immediately clear from the code itself.

## Variables

Often we want to store some information or result for later use, for which we use variables. A variable is simple where we set a letter or word (or gibberish) equal to something:

In [ ]:
# Create and print variables

a_number = 9
aNumber = 7

a = 3

In [ ]:
print(a_number)

9

In [ ]:
b = a_number + a
print(b)

12

Variables can be reassigned, but just setting them equal to something else

In [ ]:
# Create, then reassign a variable
print(a)
a = -30
print(a)

3
-30

Variables can be updated with values of other variables, and changed by adding things to them

In [ ]:
# Altering variables
a = a + 1
print(a)

-29

## Equality

To check if two things are equal we use `==`.

In [ ]:
# Check if things are equal
a = b
print(a)
print(b)

12
12

Make sure you understand the difference between `=` and `==`.


*   We use `=` to assign a variable
*   We use `==` to check if two things are equal

## Errors and Documentation

You will make mistakes when writing code, everyone does. One of the biggest difference between a good coder and a bad, is good coders **read their error messages**.

Python has very useful error messages when things go wrong (not all languages do), which will often tell you what the problem is. For example:

In [ ]:
# An error using an unassigned variable
a = 7
c=-7
a == c

False

In [ ]:
print(a==c)

False

The error message won't always tell you exactly what went wrong, especially as your programs get more complex. But they will at least give you a place to start, Python even gives you a line number.

The more you start to understand the Python syntax, the easier it will become to read the errors.

So when you get an error, before asking for help, read the error message and see if you can work out what you did wrong.


The next thing to do is to read the documentation. Python has very good documentation, which tells you what syntax you are supposed to use and how to use everything. The documentation can be found [here](https://docs.python.org/3/). When just starting out there is a lot of information there, but as you get more experienced you will find the documentation invaluable.

# Lecture 2: Types

Types are a fundamental part of almost all modern programming languages. They are used to distinguish things such as number from text.

Python has what is known as *dynamic typing*, so in many cases will automatically determine the type of things for you. Compared to a language such as C++, where you must tell the computer what type every object is when creating it.

Python has the following built-in data type:

| type of types | types                         |
| ------------- | ----------                    |
| Text          |   str                         |
| Numbers       | int, float, complex           |
| Collections   | list, tuple, set, dict, range |
| Other         | bool, NoneType                |

There are some others as well, which we won't cover here, but can be found in the [documentation](https://docs.python.org/3/library/stdtypes.html).

Today we will talk about str, int, float, and bool. We will encounter the others later.

You can find out what type a variable is using the function type()

In [ ]:
# Determine the type of some variables
a = 5
type(a)

int

In [ ]:
b = "hello"
type(b)

str

In [ ]:
c = True
type(c)

bool

In [ ]:
d = 5.5
type(d)

float

We can also check if something is of a particular type using `isinstance(variable,type)`

In [ ]:
# Check if something is of a certain type
print(isinstance(a,bool))
print(isinstance(a,int))
print(isinstance(d,str))
print(isinstance(d,float))

False
True
False
True

## Numeric types

The two main numeric types are int and float (there is also complex numbers, but we'll ignore them for now).

An int is a whole number, i.e. the integers.

A float is a real number.

A good rule to distinguish them is: A number with a decimal point is a float, without is an int.

In [ ]:
# Some floats and some ints
a = 66
b = -99
c = 4.0
d = 4
e = 100.001
type(c)

float

It is important to understand what type of number you are using, as operations can be different depending on the type.

If you add an int to a float, you will get a float. And the same is true for multiplication and subtraction.

In [ ]:
# Combining floats and ints
x = b-e
print(x)
print(type(x))

-199.001
<class 'float'>

We must be careful with division.

If we divide two ints together, we get always get a float back. This is because we know that dividing integers does not guarantee an integer.

In [ ]:
# Dividing ints gives a float
10/5

2.0

There is a notion of integer division, using //, which will return an integer, and discard any remainder.

In [ ]:
# Integer division using //
47//5

9

We also have the modulus operator (%), which returns just the remainder from division. We will explore the mathematics of the modulus operator later this term in Foundations of Pure Mathematics. The modulus operator is particularly useful for testing if a number is even or odd.

In [ ]:
# Using the Modulus operator
47%5

2

In [ ]:
# Test if even or odd using %
99 % 2 == 0

False

Integers are easy for a computer to store, they just use binary. But it is difficult for a computer to accurately store decimal numbers. So floats are actually an approximation of a decimal number and can sometimes behave slightly differently than you would expect. For example:

In [ ]:
# A misbehaving float
1.33%1

0.33000000000000007

So it is generally best to always use an int, unless you actually need a float, and when using float always be a little bit careful!

## Strings

We briefly mentioned strings before, but strings are actually a type, denoted by str, that stores letters, words and sentences.

As mention before, strings are created by enclosing it in "" or ''.

In [ ]:
# Create a string
t = "hello world 666"
type(t)

str

In [ ]:
x = 666
y = "666"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

We can join strings together using +, this is called concatenation:

In [ ]:
# Adding strings
n = "hello"
s = " "
m = "world"
q = n + s + m
print(q)

hello world

We can extract substrings using [].
If x is a string, then x[i] will return the i'th letter of x.

And x[a:b] will return all the letters from position a to position b-1

In [ ]:
# Print single characters and substrings of a string
print(q[0])
print(q[5])
print(q[7])
print(q[0:4])
print(q[:4])
print(q[4:])
print(q[-1])
print(q[-2])

h

o
hell
hell
o world
d
l

Some important things to note:


*   **The first letter is position 0** (computer scientist like to count from zero, mathematicians like to count from 1, it causes much continued confusion, you will almost certainly cause a bug at some point in your life because of this).
*   x[a:b] does not return the b'th letter, it returns the letters before position b.

Strings have lots of built in functions that can do nice things (we will come back to what a function is in a couple of weeks). A full list is available [here](https://docs.python.org/3/library/stdtypes.html#string-methods).

There are many useful operations, for example you can take the string and capitalise the first letter (note most code uses American spellings, so here we use captilize):

In [ ]:
# Using the capitalize function
print(q)
q.capitalize()

hello world

'Hello world'

We can remove any spaces before or after the string:

In [ ]:
# Using the strip function
p = "    good morning   "
print(p)
p.strip()

    good morning

'good morning'

When can replace all occurrences of a substring with something new

In [ ]:
# Using the replace function
W = "Trump is a dick"
print(W)
print(W.replace("dick","glorious leader"))
print(W)
W = W.replace("dick","glorious leader")
print(W)

Trump is a dick
Trump is a glorious leader
Trump is a dick
Trump is a glorious leader

There are loads of other nice operations, the above are just a few.

## Booleans

Booleans, or bools, is the true or false class.

A bool can only be True or False (note the capital letter). It is what comes out of comparisons like the equality operator we saw last week.

In [ ]:
# Some bools

There are many other comparison operators that give bools:

| operator | meaning |
| -------- | ------- |
| < | strictly less than |
| <= | less than or equal |
| > | strictly greater than |
| >= | greater than or equal |
| == | equal |
| != | not equal |
| is | object identity |
| is not | negated object identity |

In [ ]:
# Some comparisons of ints

We can combine bools using logical operations, such as *and*, *or* and *not* (something else we will explore further in Foundations of Pure Mathematics).

In [ ]:
# Some logical connectives
print(a)
a > 50 and a < 10 or a ==777

66
False

In [ ]:
d =  not True
print(d)
print(not a > 100)
print(a == 66)
print(not a == 66)
print(a != 66)

False
True
True
False
False

##Converting between types

Sometimes we will have a string that contains a number, and we want to convert it to an int (or float), or the reverse. Python has built in operations to do this.

In general all you do is put the type you want to convert to, and then the thing you want converted in brackets, for example:

In [ ]:
# Convert between types
print(x)
print(y)
type(y)

z = int("354")
print(z)
type(z)

str(354)

666
666
354

'354'

In [ ]:
a = 50.6
print(a)
int(a)

50.6

50

In [ ]:
s = 50
print(s)
float(s)

50

50.0

In [ ]:
int("HELLO")

ValueError: invalid literal for int() with base 10: 'HELLO'

Often we want to incorporate a number into a string, to do this we must first convert the number to a string, and then join it with the rest of the string using +

In [ ]:
# Add number into string, the correct way
z = "this number is "
a = 5

print(z+str(a))
print(z,a)

this number is 5
this number is  5

If we don't convert a to a string first we will get an error message:

In [ ]:
# Add number into string, the incorrect way

We can also use this to convert between int and float

In [ ]:
# convert an int to a float

#Lecture 3: Lists, Tuples, Sets, and Dicts

Now lets look at some of the data types that allow us to store multiple things within them.

##Lists
The most common datatype for storing multiple objects is a list.

To create a list we use `[]`. For example, to make a list of the numbers 1 to 4, we do.


```
a = [1,2,3,4]
```

Some key points about lists:


*   Lists have an order, so [1,2,3] is not the same as [3,2,1]
*   Lists can be changed, added to, and items removed
*   Lists can have duplicated items
*   Lists can have different types within

In [ ]:
# Some lists
A = [2,4,6,8,10,12]
print(A)

B = [1,0.5,1.0,1,"some numbers"]
print(B)

C = []
print(C)

D = ["a","l","i","s","t"]
print(D)

E = [1,2,[1,2],[]]
print(E)

[2, 4, 6, 8, 10, 12]
[1, 0.5, 1.0, 1, 'some numbers']
[]
['a', 'l', 'i', 's', 't']
[1, 2, [1, 2], []]

The length of a list A is given by len(A) and returns the number of elements within it

In [ ]:
# Print the lengths of lists
print(len(A))
print(len(B))
print(len(C))
print(len(D))
print(len(E))

6
5
0
5
4

We can access individual elements, and sublists, using the same syntax that we used for strings:

In [ ]:
# Access elements of lists
print(A[0])
print(A[1])
print(A[2])

print(B[2])

print(A[6])

2
4
6
1.0

IndexError: list index out of range

We can change elements:

In [ ]:
# Alter lists
print(A)
A[1] = -4
print(A)

print(D)
D[0] = "not a"
print(D)
D[1] = -700
print(D)

[2, -4, 6, 8, 10, 12]
[2, -4, 6, 8, 10, 12]
['not a', 'l', 'i', 's', 't']
['not a', 'l', 'i', 's', 't']
['not a', -700, 'i', 's', 't']

There are a few tricks that are commonly used with this.


*   A[:b] returns everything upto (but not including) the b'th position, i.e. it is the same as A[0:b]
*   A[a:] returns everything from position a onwards
*   A[-a] returns the element a positions from the end

In [ ]:
# Access elements using the above tricks
print(A[1:4])
print(A[0:4])
print(A[:4])
print(A[4:])
print(A[-3])
print(A[:-1])

[-4, 6, 8]
[2, -4, 6, 8]
[2, -4, 6, 8]
[10, 12]
8
[2, -4, 6, 8, 10]

A very common error is to try and access an element not in the list, i.e. position i when there are less than i elements. Also recall the positions start from 0.

In [ ]:
# Overflow error
A[6]

IndexError: list index out of range

We can add more elements to a list using:


*   append : add to the end
*   insert : adds in a particular position
*   extend : adds multiple elements at the end

In [ ]:
# Add elements to lists
print(A)
A.append(14)
print(A)
A.append(-16)
print(A)

[2, 4, 6, 8, 10, 12, 14, 14, -16, 14, -16, 14, -16, 14, -16, 14, -16, 14, -16]
[2, 4, 6, 8, 10, 12, 14, 14, -16, 14, -16, 14, -16, 14, -16, 14, -16, 14, -16, 14]
[2, 4, 6, 8, 10, 12, 14, 14, -16, 14, -16, 14, -16, 14, -16, 14, -16, 14, -16, 14, -16]

In [ ]:
B = [1,0.5,1.0,1,'some numbers']
print(B)
B.insert(1,'a')
print(B)
B.insert(-2,'x')
print(B)

[1, 0.5, 1.0, 1, 'some numbers']
[1, 'a', 0.5, 1.0, 1, 'some numbers']
[1, 'a', 0.5, 1.0, 'x', 1, 'some numbers']

In [ ]:
C = [1,2,4,6,8]
print(C)
C.extend([-1,-2])
print(C)

[1, 2, 4, 6, 8]
[1, 2, 4, 6, 8, -1, -2]

In [ ]:
C = [1,2,4,6,8]
print(C)
C = C + [-1,-2]
print(C)

[1, 2, 4, 6, 8]
[1, 2, 4, 6, 8, -1, -2]

We can remove elements from lists:


*   remove : will remove the first occurence of the specified element
*   pop : will remove element in specified position

In [ ]:
# Remove elements from lists

print(A)
A.remove(14)
print(A)

[2, 4, 6, 10, 12, -16, -16, -16, -16, -16, -16, -16]

ValueError: list.remove(x): x not in list

In [ ]:
B = [1,2,3,4,5,6]
x = B.pop(2)
print(B)
print(x)

[1, 2, 4, 5, 6]
3

We can make a copy of a list, this is useful when we want to make changes to the list, but also keep the original unchanged.

Note that simply **setting something equal to a list does not make a copy**. This is an important point, and a common cause of bugs.

If I have a list A, and do:
```
B = A
B[0] = 0
```
Then this will change the first element of B and the first element of A. This is because B becomes the list A, so B and A are now the same list, any change to one is also a change to the other as they are the same object in the memory.

If instead I do:
```
B = A.copy()
B[0] = 0
```
This will change the first element of B, but leave A as the original. Because B is a copy of A, so it has the same elements, but in the memory they are two different things.

Both of these case are useful, and you need to work out which one you want for your specific situation.

In [ ]:
# Change copies of lists

A = [1,2,3,4]
B = A
print(A)
print(B)
A[0] = 1000
print(A)
print(B)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1000, 2, 3, 4]
[1000, 2, 3, 4]

In [ ]:
A = [1,2,3,4]
B = A.copy()
print(A)
print(B)
A[0] = 1000
print(A)
print(B)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1000, 2, 3, 4]
[1, 2, 3, 4]

##Tuples

A tuple is very similar to a list, but the key difference is a that a tuple cannot be changed once created. This is known as an **immutable** type.

*   Tuples have an order, so [1,2,3] is not the same as [3,2,1]
*   Tuples **cannot** be changed, added to, nor items removed
*   Tuples can have duplicated items
*   Tuples can have different types within

To create a tuple we use `() `or we can convert a list A to a tuple using `tuple(A)`

In [ ]:
# Create a tuple
X = (1.0,2.0,3.0,4.5)
print(X)

(1.0, 2.0, 3.0, 4.5)

If we try and change a tuple we will get an error:

In [ ]:
# Try and change a tuple
#X[0] = 1
print(X[:3])

(1.0, 2.0, 3.0)

You can think of tuples as lists which have been frozen in place, and are now unchangeable.

##Sets

A set in Python is a programming implementation of the mathematical object set (which we will see this week in Foundations of Pure Mathematics).

To create a set we use `{ }`.

Some properties of sets are:
*   Sets **do not** have an order, so {1,2,3} is not the same as {3,2,1}
*   Sets can be changed, added to, and items removed
*   Sets **can not** have duplicated items
*   Sets can have different types within

In [ ]:
# Create some sets
A = {3,6,9,12}
print(A)

B = {9,19,9,100,109,19}
print(B)

C = {1,'1',1.0}
print(C)

{9, 3, 12, 6}
{9, 19, 100, 109}
{'1', 1}

It is very simple to check if a set contains an element, and to check for subsets:

In [ ]:
# Check set containment

a = 1 not in C
print(a)

print(3 in A)

False
True

In [ ]:
A = {1,2,3,4,5}
B = {2,5}
print(B in A)
B.issubset(A)

False

True

Python has built in operations to do unions, intersections, set minus (a.k.a set difference).

In [ ]:
# Use some of the set operations
A = {0,1,2,3,4}
B = {-2,-1,0}
A.union(B)
A.intersection(B)
A.difference(B)

{1, 2, 3, 4}

We can add and remove elements from a set

In [ ]:
# Adding and removing from sets
print(A)
A.remove(1)
print(A)

{0, 1, 2, 3, 4}
{0, 2, 3, 4}

In [ ]:
A.add(-1)
print(A)

{0, 2, 3, 4, -1}

In [ ]:
A[0]

TypeError: 'set' object is not subscriptable

We can convert lists into sets:

In [ ]:
# Change a list to a set
a = list(A)
print(a)

W = [2,3,4,3,2]
set(W)

[0, 2, 3, 4, -1]

{2, 3, 4}

We can create the emptyset, but to do this we need to use set(). If we do A={} we actually create a dictionary, which we will see next.

In [ ]:
# Create the emptyset
Q = set()
T = {}
type(T)
type(Q)

set

There is also frozenset,  an immutable version of set. You can think of them as tuples for sets. We won't go into further detail, but encourage you to have a play.

##Dictionaries (Dict)

A dictionary is like a mathematical function (something else we will formally define in FoPM). A dictionary takes a "key" as an input and returns the "value" associated to that key.

In a slightly confusing clash of notation, we define a dictionary using `{}` (as we did for sets). But the difference is each entry is a pair, the key and its associated value, the syntax is `D={key1: value1, key2:value2, key3:value3}`

Once we have a dictionary D, we access the elements using `[]`. So to determine what value is associated to "key" we do `D[key]`

In [ ]:
# Create and access a dictionary
D = {'a':'A', 'b':'B', 'c':'C'}
print(D['a'])
print(D['c'])
print(D['C'])

A
C

KeyError: 'C'

In [ ]:
P = {1:1, 2:4, 3:9, 4:16}
P[3]

9

In [ ]:
Y = {1:'Dave', 2:[]}
Y[2]

[]

In [ ]:
W = {(1,2):3, (3,4):7}
W[(1,2)]

3

We can add, change and remove elements of the dictionary:

In [ ]:
# Altering a dictionary
D = {1:3, 5:10, 7:14}
print(D[1])
D[1] = 2
print(D[1])
D[9] = 18
print(D)

3
2
{1: 2, 5: 10, 7: 14, 9: 18}

Another way to create a dictionary, is to start with an empty dictionary and assign each key individually:

In [ ]:
# Populate a dictionary
D = {}
D[1] = 2
D[3] = 6
D[5] = 10
print(D)

{1: 2, 3: 6, 5: 10}

Dictionary values can be of any type. But Dictionary keys must be an immutable type, so we cannot have lists or sets as dictionary keys (nor dictionaries themselves), but all other types we have seen so far will work. The reason for this is that if we used a list as a key, we could then change that list, and this creates confusion for the dictionary.

If you want to use a list or set as a key then you should use tuple or frozenset instead.

In [ ]:
# Error example when key is mutable

# Lecture 4: Conditional and Loops

IMPORTANT: Indentations play a key role in Python. Indents are used to dictate what is part of a loop or if statement (and other things like functions).

Indentations should be made up of 4 spaces. Other things can actually be used, indcluding tabs, and any number of spaces. But the important thing is that it must be the same throughout your code. You cannot use tabs at one point and then 2 spaces at another point (IDE's often have built in things to help with this).

The recommendation is to always use 4 spaces, this is the most common approach, and least likely to create bugs.

## Conditionals

###**if**
A conditional statement allows us to different things depending on some criteria. The main conditional statement is `if`.

We can use `if` to only do something when our statement is true:

In [ ]:
# An if statement

Note the syntax:
`if <some boolean statement>:`
then the next line must be indented.
Anything included in the indented block falls within the if statement.

In [ ]:
# A bigger if statement

###**else**

Sometimes we want one of two things to happen, if our statement is true do this, if it is false do that. For this we use if/else:

In [ ]:
# An if-else statement

###**elif**
Sometimes we have more than two possibilites, for we use elif, which stand for *else if*:

In [ ]:
# An elif statement

The code will work its way down the elif statements, it will will only execute elif if all preceeding conditions have been false, and this condition is true.

In [ ]:
# Another elif statement

## Loops

Loops are one of the most important things in coding, they allow us to repeatedly do stuff. There are two main loops `for` and `while`.

###**For**

A `for` loop will execute a piece of code for every specified item, usually all things in a list, tuple or set (or something called an iterator).

To define a `for` loop we need two things, firstly all the things we want to consider and secondly what we want the code to do each time. The syntax for a `for` loop is:


```
for i in some_things:
    execute_this_code
```
The i used above is called the index, and will contain a different element from the some_things each iteration of the code.

Note the indentation, the `for` loop will evaluate all code that follows it until it finds the next unindented line.

In [ ]:
# A for loop

Note that if we use a list, the loop will go through the elements in the order they are listed (as above), but if we use a set (which does not have an order) the loop will work through in whichever way it chooses.

In [ ]:
# for loop through a set

When we want to loop through all the number from a to b, we can use `range`. Using `for i in range(a,b)` will loop through the numbers $$a,a+1,...,b-1$$ (Note this does not include b itself).

And if we want the numbers 0 to n-1 we can just use for `i in range(n)`

In [ ]:
# for loop using range

The code part of the `for` loop can have as many lines are you need within it, for example:

In [ ]:
# A bigger for loop

We can put `for` loops within `for` loops (sometimes called nested loops), but make sure you use a different letter or name for the index:

In [ ]:
# Nested for loops

We can put `if` statements within for loops:

In [ ]:
# if statement in for loop

In some cases you might want to finish a `for` loop early, for this you can use the `break`command

In [ ]:
# break a for loop

However, the above code would actually be better as a while loop.

We've seen that we can populate lists, sets and dictionaries using for loops, for example:

In [ ]:
# Created empty list, then add to it using a for loop

But we can populate a list in a more condensed way using loops via the syntax:

```
a_list = [add_this_thing for i in some_list]
```
We can do the same by replacing lists with sets of dictionaries, and we can use while loops instead of for loops. Here are some examples:

In [ ]:
# Create listd with for loop

###**While**

A `while` loop is a loop which continues while some condition is true, it has the syntax:

```
while some_Boolean_statement:
    execute_this_code
```

So the condition has to be something that is true or false (i.e. a Boolean) and the code will continue until the statement is false.

In [ ]:
# A while loop

Note that a `while` loop will not automatically change any values (unlike the for loop where the index changes each time), so unless you change something in each iteration the while loop will continue infinitely doing the same thing everytime.

While loops that do not terminate are a common bug, if the boolean statement remains true your code will get stuck repeating that loop forever.

Infinite loops are a common bug, and one that is difficult for the computer to detect for you (although some IDE's do have tools that will try and detect them for you).

In [ ]:
# An infinite while loop

An alternative way to use the while loop is to create a boolean, and then turn it to false when we want the loop to terminate

In [ ]:
# while loop which alters boolean to finish

##Exceptions
Sometimes the coding we write does not work. We have seen above that when this happens Python just stops, and does not execute anything afterwards. However, sometimes we can predict things that might break the program, and create "exceptions" for these cases, which is where we tell the code that if this doesn't work do this instead. We do this using `try` and `except`. For example:

In [ ]:
# Using an exception

We won't go into much further detail on exceptions, but know they exist and are useful.

#Lecture 5: Functions and Objects

##Functions

Often we want to reuse the same bit of code, the best way to do this is using *functions*.

A function will take an input (which can be nothing), run some code, and then may or may not return an output.

A function will not be executed when the computer encounters it, it will only be executed when it is subsequently called.

The syntax for defining a function is:

```
def function_name(input1, input2):
    code_to_be_executed
    return output
```
The function can take any number of inputs, each input is separated by a comma. We can have no inputs, for this we just put nothing between the brackets i.e. ``def function_name()``.

In [ ]:
# define a function for computing f(x)=x^2+2x-5

In [ ]:
# run the function

Note that when running the code where the function is defined, nothing happens (at least nothing we see). It is not until we call the function afterwards that we get an output.

Note the importance of the indentation, all the code that is indented will be executed.

Within a function we can use if statements and loops.

Here are a few more examples:

In [ ]:
#a function with no input and no output

In [ ]:
#a function with multiple inputs, where we specify the coefficients of the quadratic

Note the difference between the function printing and the function returning an output. Something that is printed appears on your screen, but then the computer forgets it. Something that is returned can be stored as a variable, and can then be used by the computer.

A function can have only one return statement, but within that statement it can return multiple values. One simple way is to return a list or tuple which contains all the values you wish to return. You can also return multiple items separated by commas, this will actually just return a tuple.

In [ ]:
# A function which return all multiples of 4 between a and b

We can create functions with default arguments. This is a function where one (or more) of the inputs has a default value, and if no value is inputted the default is used, but if you input a value then your inputted value is used.

In [ ]:
# A function that returns all multiples of x between a and b, where by default x is 4

##Objects

Python is an Object oriented programming (OOP) language (as are many other popular modern languages like C++ and Java). An Object is essentially a collection of data and functions, which can be manipulated. Examples of non OOP languages including C and Haskell.

To create an Object in Python, first we create a Class. A Class is a template for an object, it tells is what bits of data and what functions will be in the Object.

An Object is normally something of which you are likely to have multiple instances, all with similar properties. For example, a patient, and for each patient you will have a collection of data such as age, name, address, etc. In this example you would have a patient Class, and then each patient is an Object.

Later in this module we will see mathematical objects which are represented as python objects, such as graphs.

The syntax for creating a Class is:


```
class MyClass:
    data1 = 2
    data2 = "pineapple"
```

Then to create an Object of that Class we do:

```
first_object = MyClass()
```

We are not going to use objects too much in this module, but some of the packages we will look at next will utilise objects. One of the key points to take away is that given an object you can access variables and functions that are part of the class in the following way:


```
first_object.data1
```

In [ ]:
# A Class and Object example

#Lecture 6: Packages

One of the best things about Python is that people have already written so much code, and made it freely available for you to use.

Python by default comes with loads of installed packages available for you to use. Moreover, Python has a package repository called PyPi (https://pypi.org/), which hosts over 500,000 libraries filled with code that do a variety of different things. Ranging from extremely useful (some of which we will look at below) to downright useless (see the antigravity package).

##Installing and loading packages

If a package is installed, we can load it into python using the command:
```
import package_name
```

In [ ]:
# Load some packages

Packages can be thought of as a collection of useful functions and classes. There are packages for plotting graphs, doing data science, manipulating files, etc.

Almost every package comes with documentation. It is important to look at the documentation to work out how to use the package. The documentation will tell you what functions can be used and how to use them. (Quality of documentation varies massively, but the large packages we will use all have very good documentation).

We will briefly introduce a few of the main packages here, and how to use them. But we will expand on these and other packages as we progress through the rest of the module.

If a package is not yet installed then we must install it first. There are a few ways to install python packages, and it depends what operating system you are using. Google colab has most of the packages we will need already, so we do not need to worry about this.

**IF YOU ONLY INTEND TO USE COLAB YOU CAN IGNORE THE TEXT BETWEEN THE LINES BELOW.**

******************************************************************
If you are using a personal computer then you will need to install this packages. If you are using a university computer you may need install packages.

One way to install a package is using pip, open the terminal in whatever OS you are using and to install a package type:


```
pip install package_name
```

pip will install the package on the computer, so that any subsequent users of python will also be able to use it. On your personal computer this is general fine, though it can cause problems if you have lots of packages, because they don't always play nice.

But on shared computers you might not be allowed to install on the computer, for this we can use conda and virtualenv. These work by creating "work environments" where you install the packages you want to use.

To create a virtual environment do:


```
python -m venv env_name
```
Then to activate that environment you can do

```
source env_name/bin/activate
```

You will now be in the environment and can install packages with pip as above.
******************************************************************

## Math

To introduce some of the basic concepts of packages let us consider the math package. This contains loads of mathematical functions. The documentation is here: https://docs.python.org/3/library/math.html

First we must import the package:

In [ ]:
# import the math package

Once we have import the package let us try and use the square root function. To access a function we put the name of the package, then a fullstop, then the function we want, for example:

In [ ]:
# Use the square root function

The math package also contains some useful mathematical constants:

In [ ]:
# Print some mathematical constants

Sometimes we just want to import a single function, without the whole package. This has two advantages, 1) we do not have to prepend the package name everytime and 2) some packages can be quite large and contain things we do not need, so it is better to just get what we need.

In [ ]:
# import the cosine function

##NumPy

NumPy is the fundamental package for scientific computing in Python. It contains code for linear algebra (matrices and vectors), mathematical logic, randomisation, and loads of other things.

The documentation for NumPy is here: https://numpy.org/doc/stable/index.html

Sometimes when importing packages we use a shorthand name, to avoid writing the full package name many times, for example the convention for importing numpy is:

In [ ]:
# Load the numpy package

One of the key things that NumPy introduces is arrays. These behave similarly to Python lists. But they have advantages over lists, computations on arrays are more efficient, arrays are more memory efficient, arrays can be more than 1-dimensional, and there are many useful functions implemented for them.

We create an array using the syntax:

```
np.array([1,2,3,4])
```

In [ ]:
# One dimensional array A

A two dimensional array is essentially a matrix, and we can make higher dimensional arrays as well (known in mathematics as tensors).

In [ ]:
# Two dimensional array B

In [ ]:
# Three dimensional array C

Arrays can be added to and manipulated in a similar way as lists, to access the i'th element of A we do `A[i]`.

If the array is two dimensional, then we access the i,j'th entry using `B[i,j]`, and similarly for higher dimensions.

In [ ]:
# Access and change elements of B

Two common ways to create an array, is to start with a list and convert it to an array, or to create an array of all zeros (of the required shape) and then enter the values.

In [ ]:
# Convert list to array

In [ ]:
# Create array of zeroes and populate

We can take single rows and columns from arrays (this is called slicing), to get the i'th row of X we do
```
X[i,:]
```
 the : tells use to take everything in that row. We can do `X[:,i]` to get the i'th column.

In [ ]:
# Take some slices of X

NumPy has loads of other useful features that we will explore more later in the module.

##Matplotlib

Matplotlib is the main python package for making plots of graphs (there are other packages such as seaborn, but matplotlib is the most widely used).

Matplotlib is big, and can create some amazing visualisations, we do not have time to explore it fully. There are loads of tutorials, videos and examples on the internet I encourage you to explore. Here we will just introduce a few simple examples:

In [ ]:
# Import the package

In [ ]:
# A simple plot

In [ ]:
# A plot with points rather than a line, by adding 'o'

In [ ]:
# A simple bar chart

In [ ]:
# Add some labels

##Networkx

Networkx is the python package for handling graphs (or networks). A graph is a collection of vertices (points) and edges (connections between points). We will use graphs a lot in this module.

First lets import networkx:

In [ ]:
# Import the package

The main object in networkx is a graph, and to create a graph we do
```
G = nx.Graph()
```
which gives us an empty graph, one with no vertices or edges.

We can then populate it with vertices and edges using `G.add_nodes_from` and `G.add_edges_from` (or add_node and add_edge for a single node or edge). For example:

In [ ]:
# Create a graph

We can then view our graph using the draw() function, and matplotlib:

In [ ]:
# Draw the graph

##Other important packages


*   Scipy: Another package for scientific computing. Scipy takes NumPy and adds more advanced tools, and is often faster and more efficient for large data sets. It includes tools for doing statistics and simply machine learning, integration and differentiation, and more linear algebra.
*   Pandas: Data analysis. Introduces DataFrames which can be thought of as a Python version of databases. Very powerful, but can be a bit unwieldy.
*   TensorFlow, scitkit-learn, Keras, PyTorch: Machine learning.
*   SymPy: Symbolic mathematics, that is, mathematics with variables (x,y, etc).


It is also worth mentioning SageMath, this is software which uses Python to run packages from many different languages, particularly aimed at mathematicians. So if you find that Python doesn't have the package you need, then Sage might. You can run it online here: https://cocalc.com/features/sage