Here are a selection of questions for you to practise the topics we have seen in the lectures. These questions are not marked, they are just for you to practise your coding.

Coding is best learnt by doing, so do have a go at all the questions below.

In the seminars Jason and Mark will help you with any of the questions where you are struggling or need assistance.

#Python Basics

##Question 1
Use Python to compute the following mathematical operations:


1.   $2340 - 120$
2.   $1120 + 2321$
3.   $123 \times 22$
4.   $\frac{965}{23}$
5.   $25^4$
6.   $(24\times 76)-500$
7.   $\frac{5784-4368}{243}$
8.   $2^{16}-2^{32}$

In [ ]:
# Answers to Question 1

##Question 2


1.   Set the variable "name" as a string containing your name.
2.   Set the variable "studentID" as a string containing your student number.
3.   Set the variable studentNumber as the number (int) in the student ID (everything except the N).
4.   Check if studentID and studentNumber are equal.

In [ ]:
# Answers to Question 2

##Question 3

a) Print "Hello World!" in interactive interpreter:

1.   Open the interactive interpreter (In Windows use powershell, VS Code, cmd prompt, or other IDE. In MacOS use terminal).
2.   Type `print("Hello World!")`.
3.   Press enter.

b) Print "Hello World!" by running a Python file:
1.   Open a text file (e.g. using notebook).
2.   Type `print("Hello World!")` in the new file.
3.   Save the file as HelloWorld.py.
4.   Open the terminal (powershell, cmd prompt, or terminal).
5.   Navigate to the folder where you just saved the file (the easy way to do this is to type `cd ` and then drag and drop the folder into the terminal).
6.   In the terminal type "python HelloWorld.py" and press enter.

c) Print "Hello World!" in this notebook:
1.   Create a new cell below, by clicking "cell" just below this text.
2.   In the new cell type `print("Hello World!")`.
3.   Click the run button on the left side of the new cell (the triangle in a circle).

## Question 4

Try and fix the following errors by reading the error messages

In [ ]:
# Question 4a
# This code should print the string: Why will you not work!
print(Why will you not work!)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-4-4e54c7f1160d>, line 2)

In [ ]:
# Question 4b
# This code should set the variable a as the string Hello World!
a == "Hello World!"

NameError: name 'a' is not defined

In [ ]:
# Question 4c
# This code should set the variable a equal to 23 times 32
a = 23 x 32

SyntaxError: invalid syntax (<ipython-input-6-bf0a78e3e7ad>, line 2)

In [ ]:
# Question 4d
# This code should print: Arrrrrggggghhhhhh!
print("Arrrrrggggghhhhhh!"

SyntaxError: incomplete input (<ipython-input-7-1202a51bf4cb>, line 3)

In [ ]:
# Question 4e
# This code sets the variable a equal to 2 plus 3, then prints whether a is equal to 5
a=2+3
print(5=a)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-8-87a3be072b6d>, line 4)

# Types

## Question 5
Determine whether each of the following is an int, float, string, or boolean. At first try and determine the type by looking at how it is written below, then verify your answer using the `type` and `isinstance` functions.

In [ ]:
a = 4
b = 4.0
c = "4"
d = "four"
e = True
f = "True"

# Answers to Question 5

## Question 6
Declare the variable w as the float 22.3. Then convert it to the following types:


1.   Convert w to a string, call this x and print it.
2.   Convert w to an int, call this y and print it.
3.   Convert y to a boolean, call this z and print it.
4.   Convert y to a float, call this a, print a, and check if a and w are equal.
5.   Convert w to a float, call this b, print b, and check if b and w are equal.

In [ ]:
# Answers to Question 6

## Question 7
In this question we will use the built in string functions, a good summary of the functions is available [here](https://www.w3schools.com/python/python_ref_string.asp), along with examples.
Note that to use these functions on a string X you do `X.function_name()`.


1.   Set the variable `studentID` as a string containing your student ID.
2.   Use the `count` function to count how many 1's are in your student number, and print the result.
3.   Use the `find` function to determine the position of the first 4 in your student id, and print the result.
4.   Use the `replace` function to change all 0's to 9's in your studentID, and print the result.
5.   Create a new string called `statement` by adding the string "My student id is " and `studentID`, then print `statement`.
6.   Use `[1:]` to get just the numeric part of your student ID, and call this studentNumber.
7.   Test if studentNumber only contains numbers using the function `isnumeric`.
8.   Convert studentNumber into an int, and assign it to the variable studentNumberInt.
9.   Create a string that says "The last digit of my student number is " followed by the actual last digit of your student number.

In [ ]:
# Answers to Question 7

## Question 8

For this question we will use the studentNumber you defined in Question 7, so make sure that the have completed question 7, and run the cell containing your answers. Or assign the variable studentNumber as a string of the numeric part of your student id in the cell below.

Recall that we access the i'th element of a string using `[i]`. And we can convert element to an int using int().

For each of the following print a boolean indicating if the statement is true or false:

1.    The 4th digit in your student number is strictly less than the 6th digit of your student number.
2.    The 1st digit in your student number is equal to the last digit of your student number.
3.    The 1st digit in your student number is less than or equal to the second and strictly greater than the third.
4.    The 3rd digit in your student number is not equal to the 4th digit.
5.    The 4th digit of your student number is even.
5.    The 2nd digit of your student number is a multiple of 3.

In [ ]:
# Answers to Question 8

#Lists, Tuples, Sets, and Dicts

## Question 9



1.   Create a list containing 10 different animals, as strings, call the list `animals`.
2.   Create, and print, a boolean testing if `animals` contains "rabbit".
3.   Make a copy of animals, and call it `mammals`.
4.   For every element in `mammals` that is not a mammal, change it to a mammal.
5.   Convert `mammals` to a tuple, again calling the tuple `mammals`.
6.   Print animals and ensure it has remained unchanged.
7.   Create sets called `mammals_set` and `animals_set`, which contain the elements of `mammals` and `animals`, respectively.
8.   Print the intersection of `mammals_set` and `animals_set`.

In [ ]:
# Answers to Question 9

## Question 10
Consider the list `letters` defined below.

1.    Convert `letters` to a tuple and call it `tuple_of_letters`.
2.    Convert  `letters` to a set and call it `set_of_letters`.
3.    Convert `set_of_letters` into a tuple and call it `new_letters`.
4.    Check if `letters` is equal to `new_letters`.
5.    Check if `letters[2:]` is equal to `new_letters`.
5.    Print the length of `new_letters` using the `len()` function.
6.    Use the capitalize() function to replace the 'a' in letters with 'A'.
7.    Use append() to add 'E' at to the end of `letters`.
8.    Use insert() to add 'E' at the start of `letters`.

In [1]:
# Answers to Question 10
letters = ['d','c','b','a','b','c','d',]

## Question 11
For each of the following mathematical functions create a dictionary (called whatever you want) with keys $1,2,3,4,5,6,7,8,9,10$, and for each key $i$ associate to it the value $f(i)$:
1.    $f(x) = x^2$
2.    $f(x) = 2x+1$
3.    $f(x) = \frac{x^3+2x}{4}$
4.    $f(x) = x^3-x^2-7$

In [ ]:
# Answers to Question 11

## Question 12
Read the error messages and fix the following snippets of code

In [ ]:
# Question 12a
# This code takes a list of the number 1,2,3, and changes 3 to 4
numbers = [1,2,3]
numbers[3]=4

IndexError: list assignment index out of range

In [ ]:
# Question 12b
# This code create a dictionary which convert the strings of the first 5 letters of the alphabet into their position in the alphabet
alphabet_to_number = {a:1, b:2, c:3, d:4, e:5}

NameError: name 'a' is not defined

In [ ]:
# Question 12c
# This code sets A as the empty set and then add 0 to A
A = {}
A.add(0)

AttributeError: 'dict' object has no attribute 'add'

In [ ]:
# Question 12d
# This code creates a dictionary whose keys are pairs of integers, and the value is the sum of the pair
A = {[1,2]:3 , [2,3]:5, [5,6]:11}

TypeError: unhashable type: 'list'

# Conditionals and Loops

##Question 13
Consider the list `cake` defined below.
1. Create an if statement that checks whether `cake` contains `chocolate`, if it does print "Chocolate Cake!".
2. Create an if statement to check if `cake` contains `vanilla`, if it does not then add `vanilla` to `cake`.
3. Create an if statement that checks if `cake` contains `flour`, if it does then print "Not Gluten Free", if it does not then print "Gluten Free".
4. Create an if statement that checks if the cake contains `vanilla` and `chocolate`, if it does then remove `vanilla` from cake, if it does not contain both but does contain `vanilla`, then add `chocolate` and otherwise print `cake`.

In [ ]:
# Answers for Question 13
cake = ['sugar', 'eggs', 'flour', 'chocolate', 'baking powder']

##Question 14
1.   Set the variable `ohh` as an empty string.
2.   Create a for loop that adds 10 copies of the letter o to `ohh`.
3.   Create a for loop that changes every even position of `ohh` to the letter a.
4.   Create a while loop that adds the letter h onto the end of `ohh` until the length of `ohh` is equal to 15.
5.   Print `ohh`.
6.   Create a dictionary called `i_to_ohh` that maps the number $i=0,1,2,\ldots,14$ to the letter in position i in `ohh`.
7.   Use `i_to_ohh` to print the letter in position 10 of `ohh`.

In [ ]:
# Answers to Question 15

## Question 15
Consider the list `countries_and_cities` below. All countries in the list have even length and all cities have odd length.


1.   Using a loop and if statements create two new lists, one called `cities` containing all cities and one called `countries` containing all countries.
2.   Capitalise the first letter of every country in the list `countries`.
3.   Create a dictionary called `geography` whose keys are the cities, and the value is the country in which that city is located.
4.   Use a for loop and if statements to print all elements of `countries` which are not values in `geography`.

In [ ]:
# Answers to Question 15
countries_and_cities = ['france', 'paris', 'derby', 'jordan', 'mongolia', 'glasgow', 'stockholm', 'sweden', 'bangkok', 'united kingdom', 'thailand']

## Question 16
1.    Use loops and conditionals to make a list called `seventeen` of all pairs (i,j) (as a tuple) satisfying
 *    $0\le i<10$;
 *    $3 \le j < 13$;
 *    $i+j=17$.

2.    Create a new list called `seventeen_sets` which contains every element of `seventeen` converted into sets.
3.    Create a set called `set_of_seventeen` by converting `seventeen` into a set, and print the new set.
4.    Create a new list called `seventeen_increasing` containing all pairs from `seventeen` where the first number is smaller than the second, and print the new list.
5.    From `seventeen` remove all pairs where the first number is smaller than the second number, and then print the new list (i.e. alter the list in place, rather than create a new list as in part 4).
6.   To check you've done 4) and 5) correctly,  verify that `seventeen` and `seventeen_increasing` are equal.

In [ ]:
# Answers to Question 16

# Functions and Objects

## Question 17
1.    Create a function called `one_over` which takes an input $x$ and returns $\frac{1}{x}$.
2.    Try calling `one_over(0)`.
3.    Add an if statement to your function, so when $x=0$ print "Error cannot divide by zero" and then returns `None`. \
(None is a special type in Python used to represent nothing.)
4.    Create a new function called `cubed` which takes $x$ and returns $x^3$.
5.    Create a third function called `one_over_cubed` which takes $x$ and returns $\frac{1}{x^3}$ by calling `one_over` and `cubed`.

In [ ]:
# Answers to Question 17

## Question 18
Recall that the factorial function is defined as $$n!=n \times (n-1) \times (n-2) \times\ldots\times2\times 1.$$ So $4!=4\times3\times2\times1=24$.

1.    Write a function called `factorial` which takes as input a number $n$, uses a loop to compute $n!$ and then returns the value $n!$.
2.    Write a function called `factorial_recursion` which also computes the factorial of $n$. However, in this function compute the factorial using ``n*factorial_recursion(n-1)``. Note that you will need an if statement to deal with the end of the recursion, so when $n=1$ you need to return 0.
3.    Use both functions to compute $20!$ and verify that both give the same answer.

In [ ]:
# Answers to Question 18

## Question 19
Create a function called `what_type` which takes an input and tests its type (the `isinstance()` and `type()` functions will be useful), and does the following:

*   If the input is a string, then print "This is a string which says" and then print the inputted string;
*   If the input is an int or a float, then print "The number x has been inputted" where x is replaced with the inputted number;
*   If the input is a Boolean, then print "A Boolean has been inputted";
*   If any other type has been inputted, then print "The input has type " followed by the type of the input.

Run the function on a variety of inputs to check it is working as intended.

In [ ]:
# Answers to Question 19

##Question 20
Consider the `car` class defined below.


1.   Create a car object called `this_is_a_car`.
2.   Change the car_make, car_model and car_number_plate in `this_is_a_car`.
3.   Call the `summary` function of your car object.
4.   Add a class variable called `construction_date` to the car class.
5.   Edit the `summary` function so that it also prints the construction date.
6.   Change the `construction_date` variable in `this_is_a_car`, and call the summary function.

In [ ]:
# Answers to Question 20
class car:
    car_make = "DefaultCarManufacturer"
    car_model = "DefaultCarModel"
    car_number_plate = "DefaultNumberPlate"
    def summary(self):
        print("This is a "+self.car_model+" produced by "+self.car_make+" the number plate is "+self.car_number_plate)

# Packages

## Question 21

In this question we will use the time package, the documentation is [here](https://docs.python.org/3/library/time.html).

1.     Import the package `time`.
2.     Print the current time using time.ctime().
3.     Create a function called `time_record` which:
     *    Takes as input a list;
     *    Add the current time to the end of the list;
     *    Prints "The function has been called at the following times" followed by all times in the list.
4.     Create a function called `wait_a_bit` which:
     *    Takes as input a number n;
     *    Records the start time as `starttime = time.time()`;
     *    Waits for n seconds (use the `time.sleep` function);
     *    Prints the elapsed time using `time.time()-starttime`.

In [ ]:
# Answers to Question 21

## Question 22

In this question we will use:
*    the math package, the documentation is [here](https://docs.python.org/3/library/math.html), a nice summary of the package is [here](https://www.w3schools.com/python/module_math.asp);
*    the random package, the documentation is [here](https://docs.python.org/3/library/random.html), a nice summary of the package is [here](https://www.w3schools.com/python/module_random.asp).

1.    Import the `math` and `random` packages.
2.    Use the `factorial` function of the math package to compute $20!$, and check it is equal to your answer in Question 18.
3.    Use the `randint` function of the random package to generate a random number between 0 and 100, call it x.
4.    Use the `sin` function of `math` to compute, and print, sin(x).
5.    Use the `gcd` function of `math` to compute, and print, the greatest common divider of x and 36.
6.    Create a function called `quadratic` which takes as input a, b and c and returns the results of the quadratic formula
$$x=\frac{-b\pm\sqrt{b^2-4ac}}{2a}.$$
7.    Test the `quadratic` function with some random values for a, b, and c.

In [ ]:
# Answers to Question 22

## Question 23

In this question we will use the [numpy](https://numpy.org/doc/stable/index.html) packages.

1.    Import `numpy` and `scipy`.
2.    Create a 1D numpy array of random numbers between 0 and 1 using `numpy.random.rand`, call it `probs`.
3.    Calculate the mean of `probs` using `numpy.mean`.
4.    Create a numpy array of all zeros of shape (5,5), call it M.
5.    Change some of the entries of M to non zero values.
6.    Import `numpy.linalg`.
7.    Use `numpy.linalg.det` to compute the determinant of M.
8.    Create two random arrays of shape (3,3), call them A and B, and then multiply them together using `numpy.linalg.matmul`.

In [ ]:
# Answers to Question 23

## Question 24

In this question we will use package [matplotlib](https://matplotlib.org/stable/users/index.html).

First import matplotlib.pyplot, we normally use the alias plt for this
1.    
    *    Let `studentID` be a list of the single digit integers in your student number e.g. `studentID=[0,1,2,3,4,5,6,7]`.
    *    Make a plot of your student ID where the x axis is the position in your ID and the y axis is the value in that position. Play around and change your plot up:
        *    Try making a line, a scatter plot, bar chart, etc;
        *    Change the colour;
        *    Change the style;
        *    Add labels and titles.
3.    *    Using the `numpy` or `random` packages to create two random lists/arrays of length 100, called x and y, then make a scatter plot of x against y.
    *    Create a third random list/array call it `values`, and include this in your scatter plot using `scatter(x,y,s=values)`.
4.   *     Use the `math` package to create a plot of sin.
    *    Try and make a figure with 3 plots on showing: sin, cos, and tan.

In [ ]:
# Answers to Question 24.1

In [ ]:
# Answers to Question 24.2

In [ ]:
# Answers to Question 24.3